<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://if-remote.htlstp.ac.at:54322/5A_10_Hue1</property>
    <property name="hibernate.connection.username">5AHIF_16</property>
    <property name="hibernate.connection.password">jeke18</property>
    <property name="hibernate.connection.pool_size">3</property>
    <mapping class="at.mightyduck.lehnerreisenconsole.model.Benutzer"/>
    <mapping class="at.mightyduck.lehnerreisenconsole.model.Reisetyp"/>
    <mapping class="at.mightyduck.lehnerreisenconsole.model.Reiseveranstaltung"/>
  </session-factory>
</hibernate-configuration>
