/TestdataGenerator/nbproject/private/
/TestdataGenerator/build/
/TestdataGenerator/dist/
/WebShop/target/
/KillHibernateDeadlock/nbproject/private/
/KillHibernateDeadlock/build/
/KillHibernateDeadlock/dist/
/mavenproject1/target/
/Lab05/nbproject/private/
/Lab05/build/
/Lab05/dist/