/TestdataGenerator/nbproject/private/
/TestdataGenerator/build/
/TestdataGenerator/dist/
/WebShop/target/
/KillHibernateDeadlock/nbproject/private/
/KillHibernateDeadlock/build/
/KillHibernateDeadlock/dist/