/TestdataGenerator/nbproject/private/
/TestdataGenerator/build/
/TestdataGenerator/dist/
/WebShop/target/
/KillHibernateDeadlock/nbproject/private/
/KillHibernateDeadlock/build/
/KillHibernateDeadlock/dist/
/mavenproject1/target/
/Lab05/nbproject/private/
/Lab05/build/
/Lab05/dist/
/UebungenPosTest1/nbproject/private/
/UebungenPosTest1/build/
/UebungenPosTest1/dist/
/UebungenPosTest1JSF/nbproject/private/
/Lab5_Teil2/nbproject/private/
/Lab5_Teil2/build/
/Lab5_Teil2/dist/
/Lab05_Teil1/nbproject/private/
/LehnerLab05_Teil1/nbproject/private/
/LehnerLab05_Teil2/nbproject/private/
/Lab05_Teil2/nbproject/private/