<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!-- <property name="hibernate.connection.url">jdbc:postgresql://if-remote.htlstp.ac.at:54322/postgres</property> -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/5A_10_Lab3</property>
        <property name="hibernate.connection.username">5AHIF_16</property>
        <property name="hibernate.connection.password">jeke18</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="javax.persistence.lock.timeout">0</property>
<!--        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>-->
        <mapping class="model.Artikel"/>
        <mapping class="model.Category"/>
        <mapping class="model.Users"/>
        <mapping class="model.Warenkorb"/>
        <mapping class="model.WarenkorbItem"/>
    </session-factory>
</hibernate-configuration>
